.blaze-three-panel .service-box {
	height:28rem;
	position:relative;
	padding:2rem;
}

.blaze-three-panel .service-box h2 {
	color:#fff;
	font-size:2rem;
}

.blaze-three-panel .service-box h2.h4 
{
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 100%;
	z-index:2;
	padding: 6rem 2rem 2rem 2rem;
	pointer-events:none;
	font-size:1.9375rem;
	font-weight:600;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.blaze-three-panel .service-box::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -40%;
    width: 40%;
    height: 100%;
    background: #673ab7;
}

.blaze-three-panel .service-box::before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: translatey(-50%);
	transform: translatey(-50%);
	border: 0 20px 20px 0;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-left-style: solid;
	border-left-color: transparent;
	border-bottom-width: 35px;
	border-top-width: 35px;
	border-right: 20px solid #673ab7;
}


.title-box {
    background: rgba(1,1,1,.6);
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
    padding: 1rem;
    display: inline-block;
    width: 190px;
    margin-bottom: 5rem;
}

.title-box h2 {
    font-size: 1.6rem !important;
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
    color: #7E9E33 !important;
}


@media only screen and (min-width:768px){

}