.wpcf7-text,
.wpcf7-textarea {
    padding: 15px 10px 15px 10px!important
}
#wpcf7-f1573-p1561-o1::-webkit-input-placeholder {
    font-style: italic
}
#wpcf7-f1573-p1561-o1:-moz-placeholder {
    font-style: italic
}
#wpcf7-f1573-p1561-o1::-moz-placeholder {
    font-style: italic
}
#wpcf7-f1573-p1561-o1:-ms-input-placeholder {
    font-style: italic
}
#wpcf7-f1573-p1561-o1:placeholder {
    font-style: italic
}
.wpcf7-mail-sent-ok,
.wpcf7-validation-errors {
    border: 0
}

.hello-blaze {
    padding: 2rem;
    border-radius: .5rem;
}
.hello-blaze img
{
	max-width:5rem;
}

.hello-blaze h3
{    display: inline-block;
    margin-left: calc(100% - 17rem);
}

.hb-header {
    text-align: left;
    padding: 1rem;
}

.hb-body {
    padding: 1rem;
    border-top: 1px solid;
}
.large {
    font-size: 140%;
}

.hb-footer {
    background: #99cc00;
    color: #fff;
    border-radius: 0 0 .5rem .5rem;
    padding: .6rem;
}

.hb-footer a {
    color: #fff;
    font-size: 140%;
}